    * {
        font-family: "Lato", Arial, sans-serif
    }

    a,
    a:hover {
        text-decoration: none
    }

    p {
        margin: 0;
        font-size: 18px;
        line-height: 25px;
        font-weight: 400
    }

    h2 {
        font-size: 36px;
        font-weight: 600;
        line-height: 42px
    }

    section>div {
        padding: 28px 0
    }

    @-webkit-keyframes fadeInDown {
        0% {
            opacity: 0;
            transform: translateY(-700px)
        }

        50% {
            opacity: 0;
            transform: translateY(-20px)
        }

        to {
            opacity: 1;
            transform: translateY(0)
        }
    }

    @keyframes fadeInDown {
        0% {
            opacity: 0;
            transform: translateY(-700px)
        }

        50% {
            opacity: 0;
            transform: translateY(-20px)
        }

        to {
            opacity: 1;
            transform: translateY(0)
        }
    }

    .primary-color {
        background: #effcff
    }

    .top-header {
        background-color: #001e4a;
        color: #fafafb;
        padding: 10px 0;
        position: relative
    }

    .svg-icon {
        width: 1em;
        height: 1em
    }

    .star-icon-color {
        color: #d81671
    }

    .schedule-button a {
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
        padding: 7px
    }

    .red-button {
        background: #d81671;
        color: #fafafb
    }

    .red-button:hover {
        box-shadow: 4px 2px 35px 0 #d81671;
        background: #d81671;
        color: #fafafb
    }

    .nav-item {
        padding: 8px 11px;
        margin: 0 5px;
        border-radius: 5px;
        cursor: pointer
    }

    .nav-item:hover {
        background: #17b3e4;
        transition: .5s
    }

    .nav-link:hover {
        color: #fafafb
    }

    .nav-link {
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
        padding: 0 !important
    }

    .contact a {
        text-decoration: none;
        color: #fafafb !important
    }

    .main-header {
        padding: 10px 0;
        max-height: 60px;
        position: relative
    }

    .dropdown-menu.show {
        -webkit-animation: fadeInDown .5s normal forwards;
        animation: fadeInDown .5s normal forwards;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear
    }

    .nav-item.dropdown.dropdown-mega {
        position: static
    }

    .nav-item.dropdown.dropdown-mega .dropdown-menu {
        max-width: 1120px;
        left: 9%
    }

    .navbar-toggler {
        border: 0;
        padding: 0;
        outline: 0
    }

    .navbar-toggler:focus {
        box-shadow: none
    }

    .account .dropdown-toggle::after {
        border: 0
    }

    .account:hover {
        background: #fff
    }

    .account ul li {
        border-bottom: 1px solid #eee
    }

    .navbar-toggler .hamburger-toggle {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 50px;
        z-index: 11;
        float: right
    }

    .navbar-toggler .hamburger-toggle .hamburger {
        position: absolute;
        transform: translate(-50%, -50%) rotate(0);
        left: 50%;
        top: 50%;
        width: 50%;
        height: 50%;
        pointer-events: none
    }

    .navbar-toggler .hamburger-toggle .hamburger span {
        width: 100%;
        height: 4px;
        position: absolute;
        background: #333;
        border-radius: 2px;
        z-index: 1;
        transition: transform .2s cubic-bezier(0.77, 0.2, 0.05, 1), background .2s cubic-bezier(0.77, 0.2, 0.05, 1), all .2s ease-in-out;
        left: 0
    }

    .navbar-toggler .hamburger-toggle .hamburger span:first-child {
        top: 10%;
        transform-origin: 50% 50%;
        transform: translate(0 -50%) !important
    }

    .navbar-toggler .hamburger-toggle .hamburger span:nth-child(2) {
        top: 50%;
        transform: translate(0, -50%)
    }

    .navbar-toggler .hamburger-toggle .hamburger span:last-child {
        left: 0;
        top: auto;
        bottom: 10%;
        transform-origin: 50% 50%
    }

    .navbar-toggler .hamburger-toggle .hamburger.active span {
        position: absolute;
        margin: 0
    }

    .navbar-toggler .hamburger-toggle .hamburger.active span:first-child {
        top: 45%;
        transform: rotate(45deg)
    }

    .navbar-toggler .hamburger-toggle .hamburger.active span:nth-child(2) {
        left: 50%;
        width: 0
    }

    .navbar-toggler .hamburger-toggle .hamburger.active span:last-child {
        top: 45%;
        transform: rotate(-45deg)
    }

    .product-details-style {
        background-color: #f0fcff;
        border-radius: 5px
    }

    .product-details h3 {
        color: #17b3e4;
        font-weight: 600;
        font-size: 18px;
        padding: 10px;
        margin: 0
    }

    .product-desc {
        color: #000;
        text-transform: none;
        font-weight: 500;
        font-size: 16px
    }

    .product-sub-heading {
        max-width: 155px
    }

    .product-paragraph {
        max-width: 165px
    }

    .product-sub-heading a {
        font-size: 18px;
        font-weight: 600;
        color: #17b3e4;
        text-decoration: underline;
        text-underline-offset: 4px
    }

    .product-sub-heading h3 {
        color: #17b3e4;
        font-weight: 600;
        font-size: 1em
    }

    .product-paragraph p {
        font-size: 16px;
        margin: 8px 0 0
    }

    .product-paragraph a {
        background-color: #fff;
        color: #d81671;
        text-decoration: underline;
        text-underline-offset: 4px;
        font-weight: 600
    }

    .product-menu-list ul {
        list-style-type: none;
        padding: 0
    }

    .product-menu-list ul li:hover {
        text-decoration: underline;
        color: #17b3e4
    }

    .product-menu-list ul li {
        text-decoration: none;
        color: #000;
        font-size: 16px
    }

    .banner {
        max-height: 425px
    }

    .banner-right-side {
        display: flex;
        flex-direction: column;
        height: 100%
    }

    .banner-right-side h1 {
        line-height: 45px
    }

    .hero-button a {
        font-weight: 700;
        width: 212px;
        min-width: 212px;
        white-space: nowrap;
        letter-spacing: 1px;
        padding: 11px;
        font-size: 15px;
        margin-bottom: 30px;
        cursor: pointer;
    }

    .rating-count {
        font-size: 46px;
        font-family: Lato
    }

    .testimonial-right p,
    .testimonial-right img {
        margin-bottom: 10px
    }

    .testimonial-right p>i {
        font-size: 2em
    }

    .testimonial-right a {
        font-size: 20px;
        font-weight: 600;
        text-decoration: underline
    }

    .live__heading {
        text-align: left;
        color: #001e4a;
        font-weight: 600;
        font-size: 18px;
        padding-bottom: 15px
    }

    .schedule__text {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 16px;
        color: #000
    }

    .badge {
        background-color: #d81671;
        border-radius: 2px;
        display: inline-block;
        padding: .35em .65em;
        font-size: .75em;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline
    }

    .hero__container {
        background-image: url(../images/herobackground.png);
    }
    .hero__container {
        background-color: #17b3e4;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        background-position: center;
        overflow: hidden
    }

    .products-list {
        width: 100%;
        height: 165px;
        background: linear-gradient(0, #0699c8 35%, hsla(0, 0, 100%, 0));
        position: relative;
        display: flex;
        justify-content: center
    }

    .products-list .products-container {
        display: flex;
        justify-content: center;
        grid-gap: 12px;
        padding: 0 10px;
        position: absolute;
        bottom: 0
    }

    .products-list .product-box {
        background: #fff;
        padding: 14px 16px;
        max-width: 120px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        box-shadow: 0 -6px 15px 0 rgba(12, 47, 58, .1607843137254902);
        position: relative;
        text-decoration: none
    }

    .products-list .product-box .product-icon-container {
        position: absolute;
        background: #fff;
        width: 100%;
        padding: 12px 14px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all .5s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        box-shadow: 0 -15px 15px 0 rgba(12, 47, 58, .1607843137254902)
    }

    .products-list .product-box .product-title {
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        line-height: 16px;
        color: #000
    }

    .products-list .product-box .product-icon {
        height: 56px;
        width: 56px
    }

    .products-list .product-box:hover .product-icon-container {
        opacity: 1;
        transform: translate(-50%, -100px)
    }

    .heading-effect {
        padding: 32px 0
    }

    .heading-style {
        position: relative
    }

    .heading-effect .heading-style:after {
        top: 45px
    }

    .heading-style:after {
        content: "";
        position: absolute;
        top: 45px;
        left: 0;
        width: 50px;
        border-bottom: 3px solid #d81671
    }

    .testimonial {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #3d5a80;
        color: #3d5a80
    }

    .testimonial-slide {
        padding: 40px 20px
    }

    .testimonial_box-top {
        background-color: #e0fbfc;
        padding: 30px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        box-shadow: 5px 5px 20px rgba(152, 193, 217, 0.493)
    }

    .testimonial_box-text {
        height: 200px
    }

    .testimonial_box-text {
        padding: 10px 0
    }

    .testimonial_box-text h2 {
        font-size: 20px;
        line-height: 22px;
        font-weight: bolder;
        color: #212529
    }

    .testimonial_box-text p {
        color: #293241;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 0
    }

    .testimonial_box-img {
        padding: 20px 0 10px;
        display: flex;
        justify-content: center
    }

    .testimonial_box-img img {
        width: 70px;
        height: 70px;
        border-radius: 50px;
        border: 2px solid #e5e5e5
    }

    .testimonial_box-name {
        padding-top: 10px
    }

    .testimonial_box-name h4 {
        font-size: 20px;
        line-height: 25px;
        color: #293241;
        margin-bottom: 0;
        font-weight: 700
    }

    .testimonial_box-job p {
        color: #293241;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 3px;
        line-height: 20px;
        font-weight: 300;
        margin-bottom: 0
    }

    .slick-prev {
        transform: rotate(135deg) !important;
        -webkit-transform: rotate(135deg) !important
    }

    .slick-next {
        transform: rotate(-45deg) !important;
        -webkit-transform: rotate(-45deg) !important
    }

    .slick-next,
    .slick-prev {
        display: inline-block !important;
        padding: 3px !important;
        top: 40% !important
    }

    .slick-next,
    .slick-next:focus,
    .slick-next:hover,
    .slick-prev,
    .slick-prev:focus,
    .slick-prev:hover {
        color: transparent;
        outline: 0;
        background: transparent
    }

    .slick-prev:before,
    .slick-next:before {
        border: solid #d81671 !important;
        border-width: 0 3px 3px 0 !important;
        color: transparent !important
    }

    .Why-Policy-Advisor-Table table,
    .Why-Policy-Advisor-Table table tr,
    .Why-Policy-Advisor-Table table tr td {
        border-bottom: 1px solid #e6eced;
        font-size: 18px;
        border-collapse: collapse;
        line-height: 50px;
        text-align: center
    }

    .Why-Policy-Advisor-Table table thead tr td:first-child {
        text-align: left;
        padding-left: 10px
    }

    .Why-Policy-Advisor-Table table thead tr td {
        border-bottom: 5px solid #4bb3de;
        font-weight: 600;
        font-size: 20px;
        line-height: 35px;
        vertical-align: bottom
    }

    .Why-Policy-Advisor-Table table tbody tr td:first-child {
        text-align: left;
        padding-left: 10px
    }

    .Why-Policy-Advisor-Table table thead tr:first-child td:nth-child(2) {
        border-top: 2px solid #17b3e4;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 20%
    }

    .Why-Policy-Advisor-Table table tbody tr:last-child td:nth-child(2) {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom: 2px solid #17b3e4;
        padding-bottom: 10px
    }

    .Why-Policy-Advisor-Table table thead tr:first-child td:nth-child(2) {
        color: #17b3e4
    }

    .Why-Policy-Advisor-Table table tr td:nth-child(2) {
        border-left: 2px solid #17b3e4;
        border-right: 2px solid #17b3e4
    }

    .table-check-color {
        color: #17b3e4
    }

    .table-cross-color {
        color: #707070
    }

    .table-icon-size {
        width: 1em;
        height: 1em
    }

    .bg-circle {
        border-radius: 50%;
        background-color: #cff3fd;
        width: 672px;
        height: 672px
    }

    .info-boxes-desktop {
        display: flex;
        flex-direction: column;
        max-width: 1120px;
        width: 100%
    }

    .info-box-0 {
        align-self: flex-start
    }

    .info-box-1 {
        align-self: flex-end
    }

    .info-box-2 {
        align-self: flex-start
    }

    .info-box-title {
        font-size: 18px;
        line-height: 22px;
        font-weight: 600;
        color: #d81671
    }

    .info-box-key-text {
        font-size: 20px;
        line-height: 24px;
        font-weight: 600;
        padding-top: 8px
    }

    .d-grid .info-description p {
        padding: 8px 0 0
    }

    .info-card {
        padding: 28px 24px;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: .25rem
    }

    .footer {
        background-color: #001e4a;
        color: #fafafb;
        padding: 40px 0;
        border-top: 5px solid #17b3e4
    }

    .footer-sub-heding {
        color: #17b3e4;
        font-size: 18px;
        font-weight: 600;
        padding: 10px 30px 20px 0
    }

    .footer-links {
        padding: 6px 0;
        display: flex
    }

    .footer-links a {
        color: #fafafb;
        text-decoration: none
    }

    .social-icons a:nth-child(2) {
        padding: 0 15px 0 0
    }

    .social-icons a {
        text-decoration: none;
        color: #fafafb;
        cursor: pointer;
        padding: 15px;
        font-size: 1.7em
    }
    @media screen and (max-width:767px) {
        .products-list .product-box:hover .product-icon-container {
            opacity: 0;
        }
        .mobile-size-bg-circle {
            height: 320px
        }

        .mobile-size-bg-circle img {
            margin: -90px auto
        }

        .products-list {
            background: linear-gradient(180deg, rgba(0, 194, 255, 0), rgba(0, 152, 199, .75) 43.23%, #0089b5 59.05%)
        }

        .schedule-button a {
            margin: 5px 0;
        }

        .product-paragraph,
        .product-sub-heading,
        .product-menu-list {
            max-width: 100%
        }

        .available-menu-section {
            padding: 10px
        }

        .advisor-live {
            padding: 10px 0
        }

        .product-menu-list,
        .product-sub-heading,
        .product-paragraph {
            padding: 0 10px
        }

        .product-paragraph {
            padding-bottom: 10px;
            border-bottom: 1px solid #dee2de
        }

        .schedule__text {
            font-size: 17px;
            line-height: 24px;
            margin-bottom: 8px
        }

        .live__heading {
            padding: 0;
            margin: 0 0 5px 0
        }

        .product-sub-heading h3 {
            padding: 10px 0;
            margin-bottom: 0
        }

        .product-details {
            display: block !important;
            padding: 10px
        }

        .product-details h3,
        .product-paragraph a {
            padding: 0
        }

        .products-list {
            height: 340px
        }

        .products-list .products-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            min-width: 314px
        }

        .products-list .product-box {
            position: relative;
            bottom: 24px;
            border-radius: 10px;
            max-width: 152px;
            padding: 12px 28px !important;
        }
        .navbar{
            padding: 10px 15px;
        }
        .banner-right-side h1{
            line-height: 38px;
            font-size: 30px;
            font-weight: 600;
            text-align: center;
        }
        .hero-button{
            text-align: center;
        }
        .hero-button a{
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
            padding: 8px;
            margin-bottom: 1rem;
            font-size: 15px;
            line-height: 22px;
        }
        .hero-paragraph{
            text-align: center;
        }
        .hero__container {
            background-image: url(../images/hero_bg_mobile_image.png);
        }
        .heading-effect h2 {
            font-size: 30px;
            line-height: 38px;
        }
        .testimonial-right p{
            font-size: 14px;
            line-height: 16px;
        }
        .rating-count{
            font-size: 30px;
        }
        .testimonial-right p>i{
            margin-bottom: 5px;
        }
        .testimonial_box-name{
            padding: 0;
        }
        .footer-sub-heding{
            text-align: left;
            padding-left: 20px;
            padding-bottom: 6px;
        }
        .social-icons{
            text-align: left;
        }
        .social-icons a:nth-child(2){
            padding-left: 20px;
        }
        .footer-links{
            padding-left: 20px;
            font-size: 15px;
            line-height: 17px;
        }
        .footer-address{
            margin: 0 -5px 0 0;
            text-align: left;
        }
        .footer-digi-img{
            text-align: center;
        }
        .footer-about-para{
            padding: 0;
        }
        .why-heading-mobile{
            font-size: 27px;
            line-height: 29px;
        }
        .mobile-table table thead tr td {
            width: 33.33%;
            text-transform: none;
            font-size: 17px;
            line-height: 25px;
            font-weight: 600;
            padding-bottom: 16px;
            border-bottom: 5px solid #4bb3de;
            word-break: break-all;
            vertical-align: bottom;
        }
        .mobile-table table tbody tr th{
            font-size: 16px;
            line-height: 25px;
            font-weight: unset;
            padding-top: 15px;
        }
        .mobile-table table tbody tr td{
            font-size: 16px;
            line-height: 40px;
            font-weight: 600;
            text-align: center;
            padding-bottom: 15px;
            border-bottom: 1px solid #e6eced;
        }
        .mobile-table-icon{
            width: 24px;
            height: 24px;
            display: block;
            margin: 0px auto;
        }
        .mobile-table table thead tr:first-child td:nth-child(1) {
            color: #17b3e4;
        }
    }

    @media screen and (min-width:768px) {
        .banner-right-side {
            justify-content: center;
            align-items: start
        }

        .advisor-live {
            background-color: #f0fcff;
            max-width: 266px
        }
    }

    @media screen and (min-width:768px) and (max-width:1023px) {
        .products-list .products-container {
            grid-gap: 4px
        }

        .product-sub-heading,
        .product-paragraph {
            max-width: 100%
        }

        .product-paragraph {
            border-bottom: 1px solid #dee2de;
            padding-bottom: 5px
        }

        .mobile-size-bg-circle img {
            margin: -90px auto
        }
    }

    @media screen and (max-width:991px) {
        .products-list .product-box {
            padding: 9px 3px
        }
    }

    @media screen and (min-width:1200px) {
        .info-box-0 {
            margin-left: 65px
        }

        .info-box-1 {
            margin-right: 95px
        }

        .info-box-2 {
            margin-left: 110px
        }

        .advisor-live {
            padding: 15px;
            max-width: 100%
        }
    }